
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap");



body{
  font-family: "Montserrat", "Comic Sans MS", serif;
  background-image: linear-gradient(300deg, #2DC7FF, #ebfffc 50%);
  color: #303030;
  margin-left:  7.5em;
  margin-right: 7.5em;
  margin-top: 1em;
  margin-bottom: 2em;
}

.cover  {
  display: block;
margin-left: auto;
margin-right: auto;
width: auto;
}

.one{
  font-size: 75%;
  font-weight: normal;
}
.header {
  text-align: middle;
  border: 3px solid;
  box-sizing: content-box;
  background-color: #0081AF;
  padding: 1.5em;
    clear: both;
    overflow: auto;
    border-color: #0081AF;
}

#cover{
  float: right;

}

li {
  font-size: 110%;
  font-weight: bold;
}

a:link {
  text-decoration: none;
  color: #0081AF;
}
a:visited {
  text-decoration: none;
  color: ##005370;
}
a:hover {
  text-decoration: underline;
  color: ##005370;
}
a:active {
  text-decoration: none;
}

h1, h2, h4{
  color: #001714  ;
}

.contact{
  font-size: 95%
}
