
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap");



body{
  font-family: "Montserrat", serif;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  color: #303030;
  margin:  6em;
}

.cover  {
  display: block;
margin-left: auto;
margin-right: auto;
width: auto;
}

.contents:visited {
  color: black;
}
