
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap");



body{
  font-family: "Montserrat", serif;
  background-image: linear-gradient(45deg, #f5f5f5, #ebfffc);
  color: #303030;
  margin:  6em;
}

.cover  {
  display: block;
margin-left: auto;
margin-right: auto;
width: auto;
}

.header {
  text-align: left;
  border: 3px solid;
  background-color: #b6c3cc;
  padding-left: 1em;
}


}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  text-decoration: none;
}
