
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap");



body{
  font-family: "Montserrat", serif;
  background-image: linear-gradient(300deg, #f7fffe, #ebfffc 100%);
  color: #303030;
  margin:  6em;
}

.cover  {
  display: block;
margin-left: auto;
margin-right: auto;
width: auto;
}

.header {
  text-align: left;
  border: 3px solid;
  background-color: #f7fffe;
  padding: 2em;
    clear: both;
}

#cover{
  float: right;

}

li {
  font-size: 110%;
  font-weight: bold;
}

a:link {
  text-decoration: none
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  text-decoration: none;
}
