
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap");



body{
  font-family: "Montserrat", serif;
  background-image: linear-gradient(300deg, #f7fffe, #ebfffc 100%);
  color: #303030;
  margin:  6em;
}

.cover  {
  display: block;
margin-left: auto;
margin-right: auto;
width: auto;
}

.one{
  font-size: 75%;
  font-weight: normal;
}
.header {
  text-align: middle;
  border: 3px solid;
  background-color: #f7fffe;
  padding: 2em;
    clear: both;
    overflow: auto;
}

#cover{
  float: right;

}

li {
  font-size: 110%;
  font-weight: bold;
}

a:link {
  text-decoration: none;
  color: #006b5e;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;#006b5e;
}
a:visited {
  text-decoration: none;
}

h1, h2, h4{
  color: #001714;
}
